In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir('D:/OneDrive/MSC/Sem 01 - Data Science/Class Project/Final')

In [3]:
!ls

2020_Jan_C.xlsx
2020_Jan_R.xlsx
2502C430
ABFEB430
Analysis.pbix
Area_Mapping.xlsx
B782C430
Capture.JPG
Capture2.JPG
Capture3.JPG
classify_delay.csv
classify_delay_1.csv
classify_delay_2.csv
classify_delay_mf.csv
Cleared_Faults.xlsx
Fault_analysis.pbix
Fault_analysis.pdf
LEA_Mapping_New.xlsx
MSAN Wise CusBase.xlsx
Reported_Faults.xlsx
Service Types.xlsx

In [4]:
df_reported=pd.read_excel('Reported_Faults.xlsx')

In [5]:
df_cleared=pd.read_excel('Cleared_Faults.xlsx')

In [6]:
df_reported.describe()

        PROM_NUMBER  PROM_REPORTED  OLD_FAULT_NO  OLD_PROB_CLEARED_DATE
count  7.520580e+05  752058.000000  6.423930e+05          642137.000000
mean   3.170202e+07   43782.816631  3.035930e+07           43628.820586
std    2.200756e+05      26.097467  2.058747e+06             244.440549
min    3.132101e+07   43739.000637  9.916651e+06           40789.771644
25%    3.151156e+07   43760.369355  2.989315e+07           43589.420081
50%    3.170178e+07   43782.614462  3.123338e+07           43728.507616
75%    3.189311e+07   43804.401013  3.157259e+07           43768.767558
max    3.211026e+07   43830.999352  3.208471e+07           43835.443565

In [7]:
df_cleared.describe()

        PROM_NUMBER   PROM_CLEARED      FEEDBACK
count  7.480100e+05  748010.000000  1.423200e+04
mean   3.169432e+07   43783.302456  7.807133e+36
std    2.243981e+05      26.221834  9.313749e+38
min    2.300236e+07   43739.006470 -5.000000e+00
25%    3.150256e+07   43760.634945  1.000000e+00
50%    3.169454e+07   43783.439491  5.000000e+00
75%    3.188747e+07   43804.706652  5.000000e+00
max    3.208272e+07   43830.992245  1.111111e+41

In [8]:
df_reported.isna().sum()

PROM_NUMBER                    0
CIRT_DISPLAYNAME               0
CIRT_SERT_ABBREVIATION         0
PROM_REPORTED                  0
PROM_CAUSE                     0
PROM_REGN_CODE              1777
MSAN                       63045
PROM_WORG_NAME                 0
OLD_FAULT_NO              109665
OLD_PROB_CLEARED_DATE     109921
ALTERNATE_NUMBER           64875
dtype: int64

In [9]:
df_cleared.isna().sum()

PROM_NUMBER            0
PROM_CLEARED           0
PROM_PCAT_NAME         0
PROM_PRSC_NAME      7431
PROM_WORG_NAME         0
FEEDBACK          733778
dtype: int64

In [10]:
df_reported.shape

(752058, 11)

In [11]:
df_cleared.shape

(748010, 6)

In [12]:
df=pd.merge(df_reported,df_cleared,on='PROM_NUMBER')

In [13]:
df.shape

(748105, 16)

In [14]:
df.head()

,PROM_NUMBER,CIRT_DISPLAYNAME,CIRT_SERT_ABBREVIATION,PROM_REPORTED,PROM_CAUSE,PROM_REGN_CODE,MSAN,PROM_WORG_NAME_x,OLD_FAULT_NO,OLD_PROB_CLEARED_DATE,ALTERNATE_NUMBER,PROM_CLEARED,PROM_PCAT_NAME,PROM_PRSC_NAME,PROM_WORG_NAME_y,FEEDBACK
0,31324446,0812422056,V-VOICE COPPER,43739.446505,99-OUT OF ORDER,KY,PKL-AMJ-NODE,KY-PKL-OSP-MTCE,31237890.0,43728.463148,0812422056,43739.714120,10-USER DEVICES/APPLICATIONS,101-WEB SITE/APPLICATION DOWN/BLOCKED,KY-PKL-OSP-MTCE,NaN
1,31325316,0112782628,V-VOICE COPPER,43739.481111,01-NO SVC-VOICE,MTG,MTG-KTJ-NODE,HO-MTG-OSP-MTCE,31031843.0,43699.781250,0112782628,43739.690567,30-CPE,308-LIGHTNING DAMAGE-MODEM/ROUTER/ONT,HO-MTG-OSP-MTCE,NaN
2,31321752,0342268462,V-VOICE COPPER,43739.336088,01-NO SVC-VOICE,IG,IG-MIN-NODE,HR-HR-OSP-CDM,31104380.0,43710.521840,0342268462,43742.707789,30-CPE,304-FAULTY TELEPHONE,HR-HR-OSP-CDM,NaN
3,31321897,0572232522,V-VOICE FTTH,43739.343970,10-LOW SVC QUALITY-VOICE,BW,BW-NODE,BW-BW-OSP-MTCE,NaN,NaN,0572232522,43739.726713,30-CPE,306-FAULTY MODEM/ROUTER/ONT,BW-BW-OSP-MTCE,NaN
4,31325003,IPTV0112295508,E-IPTV COPPER,43739.467315,03-NO SVC-IPTV,MNG,MNG-PWR-NODE,NG-MNG-OSP-MTCE,29228823.0,43523.412118,0112295508,43739.853715,30-CPE,306-FAULTY MODEM/ROUTER/ONT,NG-MNG-OSP-MTCE,NaN

In [15]:
df['PROM_NUMBER'].nunique()

736886

In [16]:
df_reported.sort_values('PROM_NUMBER', inplace = True)
df_reported.drop_duplicates(subset ='PROM_NUMBER', keep = False, inplace = True)
df_reported.shape

(732774, 11)

In [17]:
df_cleared.sort_values('PROM_NUMBER', inplace = True)
df_cleared.drop_duplicates(subset ='PROM_NUMBER', keep = False, inplace = True)
df_cleared.shape

(747802, 6)

In [39]:
df=pd.merge(df_reported,df_cleared,on='PROM_NUMBER')
df.shape

(728701, 16)

In [40]:
df['PROM_NUMBER'].nunique()

728701

In [41]:
df_mapping=pd.read_excel('Area_Mapping.xlsx')
df_mapping.head()

  PROM_REGN_CODE      DISTRICT       PROVINCE
0             AA      Puttalam  North Western
1             AB    Kurunegala  North Western
2             AD  Anuradhapura  North Central
3             AG         Galle       Southern
4            AGB   Trincomalee        Eastern

In [42]:
df_mapping.shape

(376, 3)

In [43]:
df_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 3 columns):
PROM_REGN_CODE    375 non-null object
DISTRICT          376 non-null object
PROVINCE          376 non-null object
dtypes: object(3)
memory usage: 8.9+ KB

In [44]:
df_mapping['PROM_REGN_CODE'] = df_mapping['PROM_REGN_CODE'].astype('str')

In [45]:
df_mapping['PROM_REGN_CODE'].nunique()

376

In [46]:
df['PROM_REGN_CODE'].nunique()

398

In [47]:
df=pd.merge(df,df_mapping,on='PROM_REGN_CODE')
df.shape

(726741, 18)

In [48]:
df['PROM_REGN_CODE'].nunique()

368

In [49]:
df_services=pd.read_excel('Service Types.xlsx')
df_services.head()

  CIRT_SERT_ABBREVIATION SERVICE_TYPE
0            BB-INTERNET          LTE
1                V-VOICE          LTE
2            E-IPTV FTTH         FTTH
3          E-IPTV COPPER         IPTV
4     BB-INTERNET COPPER         ADSL

In [50]:
df_services['CIRT_SERT_ABBREVIATION'].nunique()

13

In [51]:
df_services.shape

(13, 2)

In [52]:
df['CIRT_SERT_ABBREVIATION'].nunique()

53

In [53]:
df=pd.merge(df,df_services,on='CIRT_SERT_ABBREVIATION')
df.shape

(718714, 19)

In [54]:
df['CIRT_SERT_ABBREVIATION'].nunique()

13

In [55]:
df.isna().sum()

PROM_NUMBER                    0
CIRT_DISPLAYNAME               0
CIRT_SERT_ABBREVIATION         0
PROM_REPORTED                  0
PROM_CAUSE                     0
PROM_REGN_CODE                 0
MSAN                       58304
PROM_WORG_NAME_x               0
OLD_FAULT_NO              105977
OLD_PROB_CLEARED_DATE     106197
ALTERNATE_NUMBER           54659
PROM_CLEARED                   0
PROM_PCAT_NAME                 0
PROM_PRSC_NAME              7029
PROM_WORG_NAME_y               0
FEEDBACK                  704684
DISTRICT                       0
PROVINCE                       0
SERVICE_TYPE                   0
dtype: int64

In [56]:
df.to_excel('faults.xlsx')

In [35]:
#df['PROM_CLEARED']=pd.to_datetime(df['PROM_CLEARED'])
#df['PROM_REPORTED']=pd.to_datetime(df['PROM_REPORTED'])

In [36]:
#from datetime import timedelta

In [37]:
#df['Outage']=(df['PROM_CLEARED']-df['PROM_REPORTED']).astype('timedelta64[h]')

In [57]:
#df.sample(10)